* {
  margin: 0;
}
html,
body {
  height: 100%;
}
header {
  background-color: #e588dc;
  top: 0;

  width: 100%;
}
header > img {
  border-radius: 75%;
  width: 10em;
}
nav {
  float: right;
  text-align: right;
  padding: 25px;
}
nav > ul {
  font-size: 25px;
}
nav > ul > li {
  display: inline-flex;
  padding: 5px;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.active {
  background-color: #e6c8e2;
}
.dropdown .dropdownbtn {
  border: none;
  outline: none;
  background-color: inherit;
  font-size: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown-content {
  display: none;
  text-align: center;
  border: ridge;
  border-color: #e27fd7;
  border-top: transparent;
  background-color: #e588dc;
  position: absolute;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px #e27fd7;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
}
nav a:link,
nav a:visited {
  text-decoration: none;
  color: black;
}
.login {
  background-color: rgb(77, 117, 224);
  border-color: blue;
  font-size: inherit;
  font-family: inherit;
  border: none;
  outline: none;
}
body {
  background-color: #eec1b6;
}
.KyaniteQuartz {
  text-align: center;
}
.KyaniteQuartz img {
  width: 70%;
  height: 40em;
}
footer {
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #e588dc;
  /* background color is leaving a line across the body. */
  padding: 2.5px;
}
.emblem {
  text-align: center;
}
.emblem img {
  width: 5em;
  border-radius: 50%;
}
